# Filtering Airbnb

### Introduction

In this lesson, we'll use our knowledge of loops and filtering to work with Airbnb data in New York City. Let's get started.

### Loading and Exploring our Data

Let's start by loading up our data.

In [1]:
import pandas as pd
listings_df = pd.read_csv('https://raw.githubusercontent.com/eng-6-22/mod-1-a-data-structures/master/3-coercing-filtering-data/AB_NYC_2019.csv')

listings = listings_df.to_dict('records')

Let's start by seeing the number of listings we have gathered.

In [2]:
len(listings)

# 48895

48895

And now, let's see which attributes are available to us on each listing.  Look at the keys available on a single listing.

In [3]:
listings[0].keys()

# dict_keys(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 
# 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
# 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 
# 'calculated_host_listings_count', 'availability_365'])

dict_keys(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365'])

Now we'll like to calculate some statistics with this data.  Before doing so, let's get a sense of how recent our data is.

To start, let's select just the `last_review` value from each element.  
> Use list comprehension to create a list of `last_reviews`, one for each listing.

In [4]:
last_reviews = [listing['last_review'] for listing in listings]

In [5]:
last_reviews[:5]

# ['2018-10-19', '2019-05-21', nan, '2019-07-05', '2018-11-19']

['2018-10-19', '2019-05-21', nan, '2019-07-05', '2018-11-19']

We can see from the above that some of our listings have `nan` values.  
> As we may know `nan` stands for not a number and is generally used to represent missing values.  

Let's filter out the listings with last_review values of `nan`.  Removing only `nan` values can be tricky.  So here's a hint to get you started:

> nan is of type `float`.  So to check if the our value is `nan` we can use something like the following.

In [6]:
type(last_reviews[0]) == float

False

In [7]:
type(last_reviews[2]) == float

True

In [8]:
last_reviews[0], last_reviews[2]
# ('2018-10-19', nan)

('2018-10-19', nan)

Now, use what you learned from above to select *listings* that do not have a `last_review` value of nan.

In [9]:
listings_not_nan = [listing for listing in listings if type(listing['last_review']) != float]

In [10]:
listings_not_nan[:5]

[{'id': 2539,
  'name': 'Clean & quiet apt home by the park',
  'host_id': 2787,
  'host_name': 'John',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Kensington',
  'latitude': 40.64749,
  'longitude': -73.97237,
  'room_type': 'Private room',
  'price': 149,
  'minimum_nights': 1,
  'number_of_reviews': 9,
  'last_review': '2018-10-19',
  'reviews_per_month': 0.21,
  'calculated_host_listings_count': 6,
  'availability_365': 365},
 {'id': 2595,
  'name': 'Skylit Midtown Castle',
  'host_id': 2845,
  'host_name': 'Jennifer',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Midtown',
  'latitude': 40.75362,
  'longitude': -73.98377,
  'room_type': 'Entire home/apt',
  'price': 225,
  'minimum_nights': 1,
  'number_of_reviews': 45,
  'last_review': '2019-05-21',
  'reviews_per_month': 0.38,
  'calculated_host_listings_count': 2,
  'availability_365': 355},
 {'id': 3831,
  'name': 'Cozy Entire Floor of Brownstone',
  'host_id': 4869,
  'host_name': 'LisaRoxanne',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Clinton Hill',
  'latitude': 40.68514,
  'longitude': -73.95976,
  'room_type': 'Entire home/apt',
  'price': 89,
  'minimum_nights': 1,
  'number_of_reviews': 270,
  'last_review': '2019-07-05',
  'reviews_per_month': 4.64,
  'calculated_host_listings_count': 1,
  'availability_365': 194},
 {'id': 5022,
  'name': 'Entire Apt: Spacious Studio/Loft by central park',
  'host_id': 7192,
  'host_name': 'Laura',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'East Harlem',
  'latitude': 40.79851,
  'longitude': -73.94399,
  'room_type': 'Entire home/apt',
  'price': 80,
  'minimum_nights': 10,
  'number_of_reviews': 9,
  'last_review': '2018-11-19',
  'reviews_per_month': 0.1,
  'calculated_host_listings_count': 1,
  'availability_365': 0},
 {'id': 5099,
  'name': 'Large Cozy 1 BR Apartment In Midtown East',
  'host_id': 7322,
  'host_name': 'Chris',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Murray Hill',
  'latitude': 40.74767,
  'longitude': -73.975,
  'room_type': 'Entire home/apt',
  'price': 200,
  'minimum_nights': 3,
  'number_of_reviews': 74,
  'last_review': '2019-06-22',
  'reviews_per_month': 0.59,
  'calculated_host_listings_count': 1,
  'availability_365': 129}]

In [11]:
len(listings_not_nan)

# 38843

38843

Calculate the percentage of listings we have left.

In [12]:
len(listings_not_nan) / len(listings)

# 0.7944166070150323

0.7944166070150323

Ok, not amazing, but not bad.

### Back on Track

Now that we've removed our listings with a last_review of nan, let's make sure that we are working with relatively recent reviews.

Our first step is to change the first `last_review` value from to a Python string to a datetime object.

> Let's practice this on a single element first.

> See [this post](https://chrisalbon.com/code/python/basics/date_and_time_basics/) for coercing data to a datetime to do so.

In [13]:
first_listing = listings[0]

In [14]:
last_review = first_listing['last_review']

In [15]:
last_review

'2018-10-19'

In [16]:
last_review_split = last_review.split('-')
year = int(last_review_split[0])
month = int(last_review_split[1])
day = int(last_review_split[2])

In [17]:
from datetime import datetime

last_review_datetime = datetime(year, month, day)
last_review_datetime

datetime.datetime(2018, 10, 19, 0, 0)

In [18]:
last_review_datetime.year, last_review_datetime.month

(2018, 10)

In [19]:
listings_not_nan_copied = listings_not_nan.copy()

> Now iterate through the copy of `listings_not_nan_copied` and change each `last_review` to a datetime.

In [20]:
# write code here to change the dictionaries in listings_not_nan_copied
for listing in listings_not_nan_copied:
  last_review_split = listing['last_review'].split('-')
  year = int(last_review_split[0])
  month = int(last_review_split[1])
  day = int(last_review_split[2])

  last_review_datetime = datetime(year, month, day)

  listing['last_review'] = last_review_datetime

> We can check that each `last_review` is now a datetime object.

In [21]:
updated_last_reviews = [listing['last_review'] 
                        for listing in listings_not_nan_copied]

updated_last_reviews[:2]

# [datetime.datetime(2018, 10, 19, 0, 0), datetime.datetime(2019, 5, 21, 0, 0)]

[datetime.datetime(2018, 10, 19, 0, 0), datetime.datetime(2019, 5, 21, 0, 0)]

Ok, now find the listing with the oldest last_review, and then we'll find the listing with the most recent last review.

In [22]:
earliest_listing = sorted(listings_not_nan_copied, key=lambda listing: listing['last_review'])[0]

In [23]:
earliest_listing['last_review']

# datetime.datetime(2011, 3, 28, 0, 0)

datetime.datetime(2011, 3, 28, 0, 0)

In [24]:
latest_listing = sorted(listings_not_nan_copied, key=lambda listing: listing['last_review'])[-1]

In [25]:
latest_listing['last_review']
# datetime.datetime(2019, 7, 8, 0, 0)

datetime.datetime(2019, 7, 8, 0, 0)

So we can see that our data ranges from 2011 to July 2019.  Let's limit our data so that we only are working with data from July 2017 to July 2019.

In [26]:
start = datetime(2017, 7, 1)
end = datetime(2019, 7, 31)

recent_listings = [listing for listing in listings_not_nan_copied if listing['last_review'] >= start and listing['last_review'] <= end]

In [27]:
len(recent_listings)

# 33259

33259

So now we have about 11000 recent listings.

### Listings by Neighborhood

Let's getter a better sense of some of these recent listings.  Begin by creating a list of each `neighbourhood_group` of our recent listings.

In [28]:
# write code here
neighbourhood_groups = list(set([listing['neighbourhood_group'] for listing in recent_listings]))
neighbourhood_groups
# ['Queens', 'Brooklyn', 'Bronx', 'Manhattan', 'Staten Island']

['Bronx', 'Queens', 'Brooklyn', 'Manhattan', 'Staten Island']

Ok, so it looks like the five boroughs.  Now let's find the number `recent_listings` in Manhattan that were less than or equal to 50 dollars.

In [29]:
recent_listings[0]

{'id': 2539,
 'name': 'Clean & quiet apt home by the park',
 'host_id': 2787,
 'host_name': 'John',
 'neighbourhood_group': 'Brooklyn',
 'neighbourhood': 'Kensington',
 'latitude': 40.64749,
 'longitude': -73.97237,
 'room_type': 'Private room',
 'price': 149,
 'minimum_nights': 1,
 'number_of_reviews': 9,
 'last_review': datetime.datetime(2018, 10, 19, 0, 0),
 'reviews_per_month': 0.21,
 'calculated_host_listings_count': 6,
 'availability_365': 365}

In [30]:
cheaper_manhattan_listings = [listing for listing in recent_listings if listing['neighbourhood_group'] == 'Manhattan' and listing['price'] <= 50]

In [31]:
len([listing for listing in recent_listings if listing['price'] <= 50])

4482

In [32]:
len([listing for listing in recent_listings if listing['neighbourhood_group'] == 'Manhattan'])

13838

In [33]:
len(cheaper_manhattan_listings)

# 215

640

### Summary

In this lesson, we saw how to use filtering to reduce our dataset down to higher quality data and to then query our data.  We also worked to remove `nan` values by looking to see if the datatype of our data was a float.  As an alternative, we could have also used the function from the math library.

In [34]:
import math
import numpy as np

math.isnan(np.nan)

True

In [35]:
listings_not_nan = [listing for listing in listings if type(listing['last_review']) != float or not math.isnan(listing['last_review'])]

In [36]:
try:
  np.isnan('test')
except TypeError:
  print('type error!!')

type error!!

In [37]:
try:
  listings_not_nan_revised = [listing for listing in listings if not math.isnan(listing['last_review'])]
except TypeError:
  print('type error!!')

type error!!

[pd.isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html) works with other data types, besides numbers

In [38]:
listings_not_nan_revised = [listing for listing in listings if not pd.isnull(listing['last_review'])]

In [39]:
len(listings_not_nan) == len(listings_not_nan_revised)

True