I. Datatypes

A. Primitives

* Integers
    * `int()`
* Strings
    * ''.join([])
    * ''.split('')
    * .format()
    * f-strings

B. Collections
* Lists - ordered
      1. Mutating 
          * append
          * pop
      2. Selecting 
      3. Coercing
* Tuple - immutable list of items
    * `(1, 2, 3)`
          
* Dictionaries - unordered
    1. Mutating 
    2. Selecting
    3. Coercing 
        * list({}.items()) -> [(), (), ()]
* Sets - unordered
    1. Mutating 
    2. Selecting
    3. Checking membership with the `in` keyword
        * `1 in set([1, 2, 3, 4, 5])`

### Tuples

In [32]:
type((1, 2, 3))

tuple

In [33]:
(1, 2, 3)[0]

1

In [34]:
(1, 2, 3).add(4)

AttributeError: 'tuple' object has no attribute 'add'

In [35]:
(1, 2, 3).pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [38]:
test = (1, 1, 2, 3)

In [39]:
test.count(1)

2

In [42]:
test.index(3)

3

In [43]:
type(())

tuple

In [45]:
type((1, 2, 3, 4))

tuple

In [47]:
a = 1, 2, 3

type(a)

tuple

In [49]:
10 / 3

3.3333333333333335

In [50]:
10 // 3

3

In [54]:
11 % 2

1

In [56]:
20 % 2 == 0

True

In [13]:
1 in set([1, 2, 3, 4, 5])

True

In [15]:
1 in [1, 2, 3, 4, 5]

True

In [14]:
6 in set([1, 2, 3, 4, 5])

False

In [16]:
6 in [1, 2, 3, 4, 5]

False

In [17]:
a = set([1, 2, 3])
b = set([4, 5, 6])

a | b

{1, 2, 3, 4, 5, 6}

In [18]:
a = set([1, 2, 3, 4])
b = set([4, 5, 6])

a & b

{4}

In [19]:
a = set([1, 2, 3, 4])
b = set([4, 5, 6])

a - b

{1, 2, 3}

### string interpolation

with `.format` and f-strings

In [10]:
'this is a test of format: {}'.format('hello')

'this is a test of format: hello'

In [12]:
word = 'hello'
'this is a test of format: {word}'.format(word=word)

'this is a test of format: hello'

In [11]:
word = 'hello'

f'this is a test of format: {word}'

'this is a test of format: hello'

## II. Function

### A. How to define a function

In [1]:
def hello():
    return 'hello'

### B. Arguments

1. Default values - you can set default values for arguments

In [2]:
def hello(name):
    return 'hello ' + name

In [9]:
def hello(name="Bob"):
    return 'hello ' + name

In [8]:
hello()

'hello Bob'

In [21]:
# multiple arguments
def hello(greeting, name):
    return greeting + ' ' + name

In [30]:
# multiple arguments
def hello(greeting='hello', name='mike'):
    return greeting + ' ' + name

In [28]:
hello()

'hello mike'

In [22]:
hello('hello', 'mike')

'hello mike'

#### 1. arguments by name

In [23]:
hello(name='mike', greeting='hello')

'hello mike'

### C. Variable scope

Variables inside a function are local to that function and not accessible outside of it

Variables defined outside of functions are accessible inside of the function

In [4]:
def hello(name):
    greeting = 'hello ' + name
    return greeting

In [5]:
greeting

NameError: name 'greeting' is not defined

### D. Calling a function

In [6]:
hello('Mike')

'hello Mike'